@font-face
    font-family: 'Conthrax-sb'
    src: url(../fonts/conthrax-sb.ttf)
@font-face
    font-family: 'AndroidAssassinItalic'
    src: url(../fonts/AndroidAssassinItalic.otf)
@font-face
    font-family: 'SpaceGrotesk-Medium'
    src: url(../fonts/SpaceGrotesk-Medium.ttf)

@font-face
    font-family: 'Koulen-Regular'
    src: url(../fonts/Koulen-Regular.ttf)

@font-face
    font-family: 'Roboto-Regular'
    src: url(../fonts/Koulen-Regular.ttf)

@font-face
    font-family: 'Roboto-Bold'
    src: url(../fonts/Roboto-Bold.ttf)


