.container
    header.header
        a(href="#").header__logo
            img(src="./img/logo.svg")
        a(href="#").header__btn Register
    .description
        .description__title Millionaire’s Fortune
        .description__win win $30,000
        .description__period
            p Blockchain protected tournament
            p Period 20.05 - 02.06
    a(href="#").btn START NOW
    .person-mob
        img(src="./img/person-mob.png")
    a(href="#").steps
        .steps__item
            span Play your favorite games
        .steps__item
            span Get TFS for each bet as a reward
        .steps__item
            span Collect the most TFS tokens and win
    .person
        img(src="./img/person.png")
    a(href="#").btn.btn-mob START NOW
